
.icon-heart:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\e807'; } /* '' */
.icon-html5:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-pinterest-circled:before { content: '\e80a'; } /* '' */
.icon-skype:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-css:before { content: '\e80e'; } /* '' */
.icon-mobile:before { content: '\e80f'; } /* '' */