/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (max-width: 420px) {
  div {
    float: none;
    width: auto;
  }
}


/* =========== BODY ==============*/

html {
    font-family: 'Roboto', sans-serif;
}

body {
	text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 1.3em;
}

#top-bar   {
    background-color: #948CE3;
}

#about {
    background-color: #43C1BE;
}

#contact {
    background-color: #68CA8F;
}

#header, #portfolio, footer {
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 960px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1 {
	font-size: 4em;
    padding-bottom: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 {
    text-transform: uppercase;
    border-bottom: 1.5px solid #fff; 
    line-height: 0.1em;
    margin: 10px 15em 20px 15em;
    letter-spacing: 0.3em;
    font-weight: 400;
} 

#about h3 span { 
    background: #43C1BE; 
    padding:  1em;
}

#contact h3 span {
    background: #68CA8F; 
    padding:  1em;
}

#portfolio h3 {
    border-bottom: 1.5px solid #000;
}

#portfolio h3 span { 
    background: #fff;
    padding:  1em;
}

a {
	text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

a:hover {
    color: #fff;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* ======================= ICONS ============================ */

i {
    color: #fff;
    display: inline-block;
    margin: 1em 0.5em 0 0.5em;
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
}

i:hover {
    color: #51507f;
    font-weight: 300;
}

.skill-icon i {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
}

.skill-icon i:hover {
    color: #fff;
}

.project-img i {
    -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; 
}

.project-img i:hover {
    color: #fff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* ===================== BUTTONS ====================== */

.button.button-primary {
    color: #FFF;
    font-weight: 500;
    background-color: #5eca89;
    border-color: #5eca89;
    transition: all 0.5s ease-in-out;
}

.button.button-primary:hover {
    color: #FFF;
    font-weight: 500;
    background-color: #54b57b;
    border-color: #54b57b;
}

input[type="submit"].button-primary {
    color: #FFF;
    font-weight: 400;
    background-color: #ffc83e;
    border-color: #ffc83e;
}

input[type="submit"].button-primary:hover {
    color: #FFF;
    font-weight: 400;
    background-color: #ebb839;
    border-color: #ebb839;
}

/* ===================== CONTENT ====================== */

#top-bar .container {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.logo {
    visibility: hidden;
    text-align: left;
}

.menu {
    text-align: right;
}

.menu li {
    display: inline-block;
    padding-left: 20px;
    font-size: 14px;
    letter-spacing: 0.2em;
}

.menu a, #contact a {
    transition: all 0.5s ease-in-out;
}

.menu a:hover, #contact a:hover {
    color: #51507f;
}

#header {
    padding-top: 7em;
    padding-bottom: 3em;
}

.name p {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    border-left: 1px solid #000;
    text-align: left;
    padding-left: 1em;
    padding-right: 1.6em;
    margin-left: -30px;
    font-weight: 300;
}

.name h1 {
    text-align: right;
    line-height: 0.8em;
    padding-bottom: 1em;
}

#header .button {
    margin-top: 2em;
}

.skills {
    padding-top: 1.32em;
}

.projects {
    padding-top: 20px;
}

.project-img {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.pic-description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
} 

.pic-description span {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
}

.pic-description span {
    text-align: center;
}

.pic-description p {
    font-size: 1.5em;
}

.project-img:hover .pic-description {
    opacity: 1;
    transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
}

form input {
    text-align: center;
}

textarea, input {
    color: #000;
}

label:first-child {
    padding-top: 10px;
}

label {
    padding-bottom: 10px;
}

#contact a {
    text-transform: lowercase;
}

#contact p {
    padding-top: 20px;
}

#contact i {
    font-size: 26px;
}

.etmail {
    font-size: 20px;
    padding-top: 10px;
}

footer .container {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

footer a {
    color: #000;
    text-transform: none;
}

footer a:hover {
    color: #000;
}

@media screen and (max-device-width: 800px) { 
    h3 {
        margin: 10px 5em 20px 5em;
    }
    #header {
        padding-top: 4em;
        padding-bottom: 2em;
    }
    .name p {
        border-top: 2px solid #000;
        border-left: none;
        text-align: center;
        margin: 0;
        padding-top: 0.3em;
    }
    .name h1 {
        text-align: center;
        padding-bottom: 0.3em;
        margin: 0;
    }
    .five.columns {
        width: 100%; 
        margin-left: 0;
    }
    .six.columns {
        width: 100%; 
        margin-left: 0;
    }
}

@media screen and (max-device-width: 440px) { 
    h3 {
        margin: 10px 1em 20px 1em;
    }
    #header {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .name {
        padding-bottom: 1em;
    }
    .container {
        padding-top: 2em;
        padding-bottom: 2em;
    } 
    #top-bar {
        display: none;
    }
    
    .skill-icon i {
    padding-top: 20px;
    }
}

